.sidebar{
    width: 80px;
    background-color: #E3F9E5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow: hidden;
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-btn {
    width: 60px;
    height: 60px;
    background-color: #E3F9E5;
    color: #333;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 8px;
}

.sidebar-btn.active {
    background-color: #2ECC71;
    color: white;
}
.sidebar-btn:hover{
    background-color: #2ECC71;
    color: white;
}

.sidebar-btn svg {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.separator {
    width: 70%;
    height: 1px;
    background-color: #c4c4c4;
    margin: 10px 0;
}