#loginForm{
    width: 100vw;
    height: 100vh;
}

#signInSection{
    width: 55vw;
    height: 80vh;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#signInSection div {
    width: 100%;
}
#signInSection>div:first-child {
    border-radius: 10px 0 0 10px;
}
#signInSection>div:last-child {
    border-radius: 0 10px 10px 0;
    background-color: rgba(76, 175, 80, 1);;
}

#signInSection>div:first-child>div>h3{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1px;
}
#submitBtn{
    background-color: rgba(76, 175, 80, 1);;
}
#signInSection>div:last-child>div>h3{
    color: white;
    font-size: 2rem;
    margin-bottom: 5px;
}
#signInSection>div:last-child>div>p{
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}
#signInSection>div:last-child>div>button{
    border: 1px solid whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

